<div class="p-grid vertical-container">
    <div class="p-col-2 p-as-start"></div>
    <div class="p-col-8 p-as-center">
        <!-- <p-chip image="assets/images/1.jpg"></p-chip> -->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input [(ngModel)]="username" type="text" pInputText placeholder="Username">
        </div>
        <div>
            <small id="username-help">Enter your username to reset your password.</small>
        </div>
        <div>
            <p-messages [(value)]="msgs"></p-messages>
        </div>
        <div class="btn-confirm p-d-flex p-jc-center">
            <button pButton type="button" label="Confirm" icon="pi pi-check"  (click)="confirmuser()"></button>
        </div>


    </div>
    <div class="p-col-2 p-as-end"></div>
</div>

