<div class="p-grid vertical-container">
    <div class="p-col-2 p-as-start">
    </div>
    <div class="p-col-8 p-as-center">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="password" [(ngModel)]="password" pPassword placeholder="New Password" />
        </div>
        <br>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="password" [(ngModel)]="repassword" pPassword placeholder="Confirm New Password" />
        </div>
        <div>
            <p-messages [(value)]="msgs"></p-messages>
        </div>
        <br>
        <div class="btn-confirm p-d-flex p-jc-center">
            <button pButton type="button" label="Reset Password" icon="pi pi-check" class="p-button-info"
                (click)="sumit()"></button>
        </div>
    </div>
    <div class="p-col-2 p-as-end">
    </div>
</div>

