<!-- <div [ngClass]="{'outlet': display == true}">
</div> -->
<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12 p-field">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText  [(ngModel)]="data.username"  required autofocus style="width: 300px;">   
                <small class="p-invalid" *ngIf="submitted && !data.username">UserName is required.</small>      
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-field">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="text" pInputText [(ngModel)]="data.password" placeholder="Password" required autofocus  style="width: 300px;">   
                <small class="p-invalid" *ngIf="submitted && !data.password">Password is required.</small>     
            </div>
        </div>  
        <div class="p-col-12 p-md-12 p-field">
            <div class="p-inputgroup">
                <span  class="p-inputgroup-addon"><i class="pi pi-unlock"></i></span>
                <input type="text" pInputText  [(ngModel)]="data.token" placeholder="Token" required autofocus  style="width: 300px;">   
                <small class="p-invalid" *ngIf="submitted && !data.token">Token is required.</small>    
            </div>
        </div>
        <div class="p-field">
            <label for="data">Name</label>
            <input type="text" name="username" pInputText [(ngModel)]="data.username" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !data.username">Name is required.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Save" icon="pi pi-check" class="p-button-success" (click)="saveProduct()"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>