<p-toast></p-toast>
<p-messages [(value)]="messsc"></p-messages>
<p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
    animationDuration=".5s" class="spin" *ngIf="display"></p-progressSpinner>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedusername(selecteddatas)" [disabled]="!selecteddatas || !selecteddatas.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="datas" [rows]="5" [paginator]="true" [globalFilterFields]="['index','data.username','data.password','data.token']"
        [(selection)]="selecteddatas" [rowHover]="true" dataKey="index"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Datas</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="index">Index <p-sortIcon field="index"></p-sortIcon></th>
                <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
                <th pSortableColumn="password">Password <p-sortIcon field="password"></p-sortIcon></th>
                <th pSortableColumn="token">Token <p-sortIcon field="token"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>
                    <p-tableCheckbox [value]="data"></p-tableCheckbox>
                </td>
                <td>{{data.index}}</td>
                <td>{{data.username}}</td>
                <td>{{data.password}}</td>
                <td>{{data.token}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editData(data)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(data)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{datas ? datas.length : 0 }} datas.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12 p-field">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText  [(ngModel)]="data.username"  required autofocus style="width: 300px;">   
                <small class="p-invalid" *ngIf="submitted && !data.username">UserName is required.</small>      
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-field">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="text" pInputText [(ngModel)]="data.password" placeholder="Password" required autofocus  style="width: 300px;">   
                <small class="p-invalid" *ngIf="submitted && !data.password">Password is required.</small>     
            </div>
        </div>  
        <div class="p-col-12 p-md-12 p-field">
            <div class="p-inputgroup">
                <span  class="p-inputgroup-addon"><i class="pi pi-unlock"></i></span>
                <input type="text" pInputText  [(ngModel)]="data.token" placeholder="Token" required autofocus  style="width: 300px;">   
                <small class="p-invalid" *ngIf="submitted && !data.token">Token is required.</small>    
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Save" icon="pi pi-check" class="p-button-success" (click)="saveProduct()"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>