/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.ng-main{
    height: 100%;
    overflow-y: hidden;
}
.ng-content{
    overflow-y: auto;
}
.p-sidebar-left{
    top: 50px !important;

}
.p-tieredmenu{
    border: 0 !important;
}
.p-tieredmenu .p-menuitem-link .p-menuitem-icon{
    color: rgb(144, 185, 238) !important;
}
.p-tieredmenu .p-menuitem-link:focus{
    border-radius: 4px;
}


